/* GLOBAL RESET + FONT */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f1f3f6;
}

/* CARDS */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
}

/* BUTTONS */
.btn-primary {
  background: #2874f0;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.btn-orange {
  background: #fb641b;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

/* INPUTS */
input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2874f0;
}

/* SECTIONS */
.section {
  margin-bottom: 20px;
}

/* CENTERED PAGE */
.center-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
