body {
  font-family: Arial;
  background: #f1f3f6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.card img {
  height: 150px;
  object-fit: contain;
}

button {
  background: #ff9f00;
  border: none;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  color: white;
}
